@import 'tailwindcss';

:root {
	background-color: #ededed;
	padding: 3rem 4rem;
	--font-inter: Inter, sans-serif;
	font-family: var(--font-inter);
	font-feature-settings: 'ss03', 'cv02', 'cv11';
}

@layer utilities {
	.heading {
		@apply text-5xl text-indigo-900 font-bold tracking-tight;
	}

	.title {
		@apply text-lg text-gray-900 font-semibold;
	}

	.subtitle {
		@apply text-sm text-gray-600 font-normal;
	}

	.paragraph {
		@apply text-xs text-gray-800 font-normal;
	}
}
