@import 'tailwindcss';

:root {
	background-color: #ededed;
	padding: 3rem 4rem;
	--font-inter: Inter, sans-serif;
	font-family: var(--font-inter);
	font-feature-settings: 'ss03', 'cv02', 'cv11';
}

@layer utilities {
	.heading {
		@apply text-base text-indigo-800 font-semibold;
	}

	.title {
		@apply text-[13px] text-gray-900 font-medium;
	}

	.subtitle {
		@apply text-sm text-gray-600 leading-5 font-normal;
	}

	.paragraph {
		@apply text-[12.5px] text-gray-700 font-normal leading-4.5;
	}
}
